/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2 {
    color: #00509e;
  }
  
  p {
    padding: 0;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Header */
  header {
    background-color: #0077cc;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin: 0;
  }
  
  /* Main */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  main img {
    width: 150px;
    border-radius: 50%;
  }
  
  /* Aside */
  aside {
    width: 20rem;
    margin: 20px auto;
    padding: 20px;
    background-color: #eee;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  aside img {
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  /* Footer */
  footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #000;
    background-color: #0077cc;
    color: #fff;
  }
  